In [12]:
# Librerias
import quandl
import datetime
import numpy as np
import pandas as pd
import scipy.stats as stats

## Importar Excels

In [87]:
column_name = ['Ticker', 'Name', 'Asset Class', 'Weight (%)', 'Price', 'Share',
               'Market Value','Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange']

In [150]:
mes1 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-1.csv', skiprows=11, delim_whitespace=False, names=column_name)
mes1=mes1.drop(columns = ['Name', 'Asset Class', 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes1=mes1.drop([42])
mes1

    Ticker  Weight (%)   Price         Share    Market Value
0       BA        9.32  176.86  1,356,276.00  239,870,973.36
1      UTX        8.63  112.21  1,979,767.00  222,149,655.07
2      LMT        7.66  267.60    736,599.00  197,113,892.40
3       GD        6.77  187.20    930,601.00  174,208,507.20
4      RTN        6.21  152.50  1,047,397.00  159,728,042.50
5      NOC        5.94  237.84    642,883.00  152,903,292.72
6      TXT        3.29   47.59  1,779,531.00   84,687,880.29
7      LLL        3.28  165.29    511,331.00   84,517,900.99
8      COL        3.27   97.16    867,624.00   84,298,347.84
9     ARNC        3.11   26.34  3,036,577.00   79,983,438.18
10     TDG        2.91  220.16    340,437.00   74,950,609.92
11     HII        2.69  200.24    345,956.00   69,274,229.44
12     SPR        2.38   57.92  1,057,058.00   61,224,799.36
13    BEAV        2.34   64.11    939,152.00   60,209,034.72
14      OA        2.18   98.00    573,620.00   56,214,760.00
15     HXL        2.05   54.55    965,485.00   52,667,206.75
16    BWXT        2.02   47.60  1,090,405.00   51,903,278.00
17     TDY        1.90  126.46    387,374.00   48,987,316.04
18      CW        1.79   91.26    505,973.00   46,175,095.98
19   HEI.A        1.51   75.00    519,110.00   38,933,250.00
20     ESL        1.45   86.05    434,433.00   37,382,959.65
21    ROLL        1.43   97.09    379,205.00   36,817,013.45
22   MOG.A        1.36   67.35    519,353.00   34,978,424.55
23    KLXI        1.35   44.70    778,519.00   34,799,799.30
24     DGI        1.32   32.75  1,034,001.00   33,863,532.75
25    MRCY        1.26   39.05    833,249.00   32,538,373.45
26     HEI        1.25   87.20    367,928.00   32,083,321.60
27    AJRD        1.14   21.70  1,356,519.00   29,436,462.30
28     CUB        1.05   52.80    512,131.00   27,040,516.80
29     TGI        1.02   25.75  1,021,451.00   26,302,363.25
30    TASR        0.99   22.79  1,119,805.00   25,520,355.95
31    AOBC        0.96   19.81  1,242,659.00   24,617,074.79
32     AIR        0.93   33.63    715,500.00   24,062,265.00
33     RGR        0.91   53.55    437,310.00   23,417,950.50
34    MANT        0.83   34.63    615,643.00   21,319,717.09
35    ATRO        0.75   31.73    606,183.00   19,234,186.59
36    WAIR        0.72   11.40  1,621,622.00   18,486,490.80
37    AVAV        0.68   28.03    628,799.00   17,625,235.97
38    KTOS        0.68    7.78  2,255,261.00   17,545,930.58
39     EGL        0.62   28.94    553,212.00   16,009,955.28
40  BLKFDS        0.06    1.00  1,562,511.00    1,562,510.83
41     USD       -0.02  100.00   -549,859.00     -549,859.21

In [149]:
t = mes1.iloc[:,0:1] #Tickers
peso = mes1.iloc[:,1] #Pesos 
precio = mes1.iloc[:,2] #Precio de la acción
shares = mes1.iloc[:,3] # Número de shares
a = peso*precio # Valor de la acción por Ticker

v_etf = sum(a) #Suma de los valores de las acciones

shares

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

0     1,356,276.00
1     1,979,767.00
2       736,599.00
3       930,601.00
4     1,047,397.00
5       642,883.00
6     1,779,531.00
7       511,331.00
8       867,624.00
9     3,036,577.00
10      340,437.00
11      345,956.00
12    1,057,058.00
13      939,152.00
14      573,620.00
15      965,485.00
16    1,090,405.00
17      387,374.00
18      505,973.00
19      519,110.00
20      434,433.00
21      379,205.00
22      519,353.00
23      778,519.00
24    1,034,001.00
25      833,249.00
26      367,928.00
27    1,356,519.00
28      512,131.00
29    1,021,451.00
30    1,119,805.00
31    1,242,659.00
32      715,500.00
33      437,310.00
34      615,643.00
35      606,183.00
36    1,621,622.00
37      628,799.00
38    2,255,261.00
39      553,212.00
40    1,562,511.00
41     -549,859.00
Name: Share, dtype: object

## Acciones de Quandl

In [7]:
quandl.ApiConfig.api_key = "1YRXno4c2f3x5e96L3Dx" # Quandl API key
fechas = list(['2017-04-28','2017-05-31','2017-06-30','2017-07-31','2017-08-31','2017-09-29','2017-10-31','2017-11-30','2017-12-29','2018-01-31','2018-02-28','2018-03-27'])

In [8]:
# Ejemplo quandl
import quandl

quandl.ApiConfig.api_key = "My9ygJsz7yTDx_9jcneH"

ticker = ['AAPL', 'MSFT','KO']
date = { 'gte': '2016-01-01', 'lte': '2016-12-31' }
column = { 'columns': ['ticker', 'date', 'Adj_close']}

data = quandl.get_table('WIKI/PRICES', qopts = column,ticker = ticker, date = date)# ticker = 'WIKI/AAPL' #'AAPL.US'
data = data.set_index('date') # Poner los índices como las fechas

# Seleccionar los ADJ_CLOSE de ticker
data_n = [data.loc[data['ticker']== i,'adj_close'] for i in ticker]
data_n

[date
 2016-12-30    114.389454
 2016-12-29    115.288214
 2016-12-28    115.317843
 2016-12-27    115.811668
 2016-12-23    115.080808
 2016-12-22    114.853649
 2016-12-21    115.614138
 2016-12-20    115.505497
 2016-12-19    115.199326
 2016-12-16    114.537601
 2016-12-15    114.389454
 2016-12-14    113.767235
 2016-12-13    113.767235
 2016-12-12    111.900579
 2016-12-09    112.542551
 2016-12-08    110.735154
 2016-12-07    109.658617
 2016-12-06    108.591957
 2016-12-05    107.762332
 2016-12-02    108.542574
 2016-12-01    108.137639
 2016-11-30    109.154917
 2016-11-29    110.083306
 2016-11-28    110.191947
 2016-11-25    110.409230
 2016-11-23    109.856147
 2016-11-22    110.419107
 2016-11-21    110.349971
 2016-11-18    108.700598
 2016-11-17    108.591957
                  ...
 2016-02-16     93.871214
 2016-02-12     91.297138
 2016-02-11     91.015446
 2016-02-10     91.569115
 2016-02-09     92.268487
 2016-02-08     92.287914
 2016-02-05     91.326278
 2016-02-04     93.832360
 2016-02-03     93.088425
 2016-02-02     91.281727
 2016-02-01     93.165717
 2016-01-29     94.044912
 2016-01-28     90.904929
 2016-01-27     90.257610
 2016-01-26     96.605206
 2016-01-25     96.073825
 2016-01-22     97.986799
 2016-01-21     93.040118
 2016-01-20     93.513531
 2016-01-19     93.387931
 2016-01-15     93.842021
 2016-01-14     96.151117
 2016-01-13     94.093220
 2016-01-12     96.576222
 2016-01-11     95.194629
 2016-01-08     93.677776
 2016-01-07     93.185040
 2016-01-06     97.291172
 2016-01-05     99.233131
 2016-01-04    101.783763
 Name: adj_close, Length: 252, dtype: float64, date
 2016-12-30    60.788710
 2016-12-29    61.532183
 2016-12-28    61.620226
 2016-12-27    61.903920
 2016-12-23    61.864790
 2016-12-22    62.168048
 2016-12-21    62.158266
 2016-12-20    62.158266
 2016-12-19    62.236526
 2016-12-16    60.945231
 2016-12-15    61.219142
 2016-12-14    61.316967
 2016-12-13    61.610443
 2016-12-12    60.818058
 2016-12-09    60.622407
 2016-12-08    59.683283
 2016-12-07    60.035454
 2016-12-06    58.646334
 2016-12-05    58.910462
 2016-12-02    57.961556
 2016-12-01    57.912643
 2016-11-30    58.949592
 2016-11-29    59.761543
 2016-11-28    59.291981
 2016-11-25    59.213721
 2016-11-23    59.086548
 2016-11-22    59.790891
 2016-11-21    59.536545
 2016-11-18    59.037635
 2016-11-17    59.321329
                 ...
 2016-02-16    48.991664
 2016-02-12    48.087056
 2016-02-11    47.315759
 2016-02-10    47.334803
 2016-02-09    46.925349
 2016-02-08    47.049138
 2016-02-05    47.763302
 2016-02-04    49.515385
 2016-02-03    49.667740
 2016-02-02    50.467604
 2016-02-01    52.095898
 2016-01-29    52.457741
 2016-01-28    49.567757
 2016-01-27    48.772654
 2016-01-26    49.677262
 2016-01-25    49.315419
 2016-01-22    49.791528
 2016-01-21    48.068012
 2016-01-20    48.363200
 2016-01-19    48.144190
 2016-01-15    48.553644
 2016-01-14    50.572348
 2016-01-13    49.172586
 2016-01-12    50.258116
 2016-01-11    49.801050
 2016-01-08    49.829617
 2016-01-07    49.677262
 2016-01-06    51.467434
 2016-01-05    52.419653
 2016-01-04    52.181598
 Name: adj_close, Length: 252, dtype: float64, date
 2016-12-30    40.438769
 2016-12-29    40.575321
 2016-12-28    40.370493
 2016-12-27    40.585074
 2016-12-23    40.575321
 2016-12-22    40.526552
 2016-12-21    40.546060
 2016-12-20    40.633843
 2016-12-19    40.643596
 2016-12-16    40.711872
 2016-12-15    40.526552
 2016-12-14    40.194927
 2016-12-13    40.731380
 2016-12-12    40.867931
 2016-12-09    40.965468
 2016-12-08    39.970592
 2016-12-07    40.272957
 2016-12-06    39.570691
 2016-12-05    39.619460
 2016-12-02    39.365864
 2016-12-01    39.180544
 2016-11-30    39.356110
 2016-11-29    40.136405
 2016-11-28    40.378191
 2016-11-25    40.165419
 2016-11-23    39.768891
 2016-11-22    40.010676
 2016-11-21    40.001005
 2016-11-18    39.565791
 2016-11-17    39.768891
                 ...
 2016-02-16    40.953732
 2016-02-12    40.717606
 2016-02-11    40.056452
 2016-02-10    40.188683
 2016-02-09    40.897062
 2016-02-08    40.283133
 2016-02-05    40.084787
 2016-02-04    40.169793
 2016-02-03    40.349249
 2016-02-02    40.084787
 2016-02-01    40.613710
 2016-01-29    40.538150
 2016-01-28    40.207573
 2016-01-27    39.754211
 2016-01-26    39.744766
 2016-01-25    39.820326
 2016-01-22    39.725876
 2016-01-21    39.093057
 2016-01-20    39.083612
 2016-01-19    39.593645
 2016-01-15    39.196953
 2016-01-14    39.555865
 2016-01-13    39.527530
 2016-01-12    39.782546
 2016-01-11    39.272513
 2016-01-08    39.206398
 2016-01-07    39.310293
 2016-01-06    39.971447
 2016-01-05    40.188683
 2016-01-04    40.047007
 Name: adj_close, Length: 252, dtype: float64]