In [12]:
# Librerias
import quandl
import datetime
import numpy as np
import pandas as pd
import scipy.stats as stats

## Importar Excels

### Mes 1

In [331]:
mes1 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-1.csv',
                   skiprows=10, delim_whitespace=False, thousands=',')
mes1=mes1.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes1=mes1.dropna(axis=0)
mes1

    Ticker  Weight (%)   Price     Shares
0       BA        9.32  176.86  1356276.0
1      UTX        8.63  112.21  1979767.0
2      LMT        7.66  267.60   736599.0
3       GD        6.77  187.20   930601.0
4      RTN        6.21  152.50  1047397.0
5      NOC        5.94  237.84   642883.0
6      TXT        3.29   47.59  1779531.0
7      LLL        3.28  165.29   511331.0
8      COL        3.27   97.16   867624.0
9     ARNC        3.11   26.34  3036577.0
10     TDG        2.91  220.16   340437.0
11     HII        2.69  200.24   345956.0
12     SPR        2.38   57.92  1057058.0
13    BEAV        2.34   64.11   939152.0
14      OA        2.18   98.00   573620.0
15     HXL        2.05   54.55   965485.0
16    BWXT        2.02   47.60  1090405.0
17     TDY        1.90  126.46   387374.0
18      CW        1.79   91.26   505973.0
19   HEI.A        1.51   75.00   519110.0
20     ESL        1.45   86.05   434433.0
21    ROLL        1.43   97.09   379205.0
22   MOG.A        1.36   67.35   519353.0
23    KLXI        1.35   44.70   778519.0
24     DGI        1.32   32.75  1034001.0
25    MRCY        1.26   39.05   833249.0
26     HEI        1.25   87.20   367928.0
27    AJRD        1.14   21.70  1356519.0
28     CUB        1.05   52.80   512131.0
29     TGI        1.02   25.75  1021451.0
30    TASR        0.99   22.79  1119805.0
31    AOBC        0.96   19.81  1242659.0
32     AIR        0.93   33.63   715500.0
33     RGR        0.91   53.55   437310.0
34    MANT        0.83   34.63   615643.0
35    ATRO        0.75   31.73   606183.0
36    WAIR        0.72   11.40  1621622.0
37    AVAV        0.68   28.03   628799.0
38    KTOS        0.68    7.78  2255261.0
39     EGL        0.62   28.94   553212.0
40  BLKFDS        0.06    1.00  1562511.0
41     USD       -0.02  100.00  -549859.0

In [348]:
t1 = mes1.iloc[:,0] #Tickers ----> o mes1.iloc[:,0:1] ???
peso1 = mes1.iloc[:,1] #Pesos 
precio1 = mes1.iloc[:,2] #Precio de la acción
s1 = mes1.iloc[:,3] #Número de share por acción
a1 = peso1*precio1*s1 # Valor de la acción por Ticker

v_etf1 = sum(a1) #Suma de los valores de las acciones

ETF1 =  v_etf1/17300000
print "El valor de una acción del ETF 1 es de", ETF1

#Para sacar el valor del ETF es numero total de activos del etf entre el v_etfi

El valor de una acción del ETF 1 es de 674.70582936

### Mes 2

In [338]:
mes2 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-2.csv',
                   skiprows = 10, delim_whitespace=False, thousands=',')
mes2=mes2.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes2=mes2.dropna(axis=0)
mes2

    Ticker  Weight (%)   Price     Shares
0       BA        9.57  184.83  1472774.0
1      UTX        9.00  118.99  2149824.0
2      LMT        7.58  269.45   799874.0
3       GD        6.89  193.79  1010539.0
4      RTN        6.21  155.21  1137366.0
5      NOC        6.04  245.96   698108.0
6      COL        4.29  104.09  1170743.0
7      LLL        3.35  171.77   555258.0
8      TDG        3.21  246.73   369679.0
9      TXT        3.17   46.66  1932393.0
10    ARNC        3.17   27.33  3297413.0
11     HII        2.65  200.89   375670.0
12     SPR        2.31   57.16  1147853.0
13      OA        2.17   99.00   622901.0
14    BWXT        2.05   49.17  1184063.0
15     TDY        1.99  134.83   420654.0
16     HXL        1.91   51.75  1048420.0
17      CW        1.80   93.46   549138.0
18    HEIA        1.52   61.30   704618.0
19     ESL        1.52   91.45   471425.0
20    ROLL        1.45  100.30   411779.0
21    KLXI        1.41   47.30   845394.0
22    MOGA        1.36   68.65   563962.0
23     DGI        1.27   32.20  1122821.0
24     HEI        1.25   71.07   499413.0
25    MRCY        1.19   37.38   904817.0
26    AJRD        1.16   22.41  1473043.0
27    AAXN        1.05   24.58  1216045.0
28    AOBC        1.05   22.15  1348069.0
29     TGI        1.02   26.20  1108870.0
30     CUB        1.02   51.90   556121.0
31     RGR        1.01   60.45   474870.0
32     AIR        0.98   35.99   776631.0
33    MANT        0.83   35.50   668499.0
34    WAIR        0.75   12.15  1761509.0
35    ATRO        0.75   32.51   658229.0
36    AVAV        0.69   28.57   682677.0
37    KTOS        0.66    7.62  2448985.0
38     EGL        0.60   28.35   600854.0
39  BLKFDS        0.06    1.00  1819648.0
40     USD        0.04  100.00  1093251.0

In [350]:
t2 = mes2.iloc[:,0:1] #Tickers
peso2 = mes2.iloc[:,1] #Pesos 
precio2 = mes2.iloc[:,2] #Precio de la acción
s2 = mes2.iloc[:,3] #Número de share por acción
a2 = peso2*precio2*s2 # Valor de la acción por Ticker

v_etf2 = sum(a2) #Suma de los valores de las acciones

ETF2 =  v_etf2/18500000
print "El valor del ETF es de", ETF2

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 723.419921929

### Mes 3

In [339]:
mes3 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-3.csv', 
                   skiprows=10, delim_whitespace=False, thousands=',')
mes3=mes3.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes3=mes3.dropna(axis=0)
mes3

    Ticker  Weight (%)   Price     Shares
0       BA        9.48  187.63  1542834.0
1      UTX        8.94  121.28  2252087.0
2      LMT        7.71  281.13   837919.0
3       GD        7.04  203.25  1058608.0
4      RTN        6.40  164.01  1191467.0
5      NOC        6.21  259.22   731312.0
6      COL        4.38  109.05  1225423.0
7      TDG        3.40  268.08   387265.0
8      LLL        3.21  168.59   581665.0
9      TXT        3.17   47.80  2024307.0
10    ARNC        3.11   27.47  3454260.0
11     HII        2.52  195.81   393543.0
12      OA        2.17  101.66   652523.0
13     SPR        2.15   54.49  1202457.0
14    BWXT        1.97   48.60  1240389.0
15     TDY        1.90  131.51   440659.0
16     HXL        1.85   51.43  1098286.0
17      CW        1.70   90.03   575259.0
18     ESL        1.58   97.45   493845.0
19    HEIA        1.51   62.65   738140.0
20    ROLL        1.43  101.32   431365.0
21    KLXI        1.40   48.39   885605.0
22    MOGA        1.35   70.04   590791.0
23     HEI        1.27   74.21   523169.0
24     TGI        1.24   32.60  1161611.0
25    MRCY        1.23   39.77   947863.0
26     DGI        1.20   31.15  1176227.0
27    AJRD        1.11   21.90  1543111.0
28    AOBC        1.05   22.65  1412185.0
29     RGR        1.04   63.70   497463.0
30    AAXN        1.00   24.01  1273886.0
31     AIR        0.93   34.94   813568.0
32    KTOS        0.91   10.82  2565474.0
33     CUB        0.88   46.35   582575.0
34    MANT        0.88   38.30   700295.0
35    AVAV        0.73   31.04   715151.0
36    ATRO        0.69   30.60   689538.0
37    WAIR        0.58    9.65  1845604.0
38     EGL        0.54   26.33   628462.0
39  BLKFDS        0.11    1.00  3356479.0
40     USD        0.04  100.00  1097273.0

In [367]:
t3 = mes3.iloc[:,0:1] #Tickers
peso3 = mes3.iloc[:,1] #Pesos 
precio3 = mes3.iloc[:,2] #Precio de la acción
s3 = mes3.iloc[:,3] #Número de share por acción
a3 = peso3*precio3*s3 # Valor de la acción por Ticker
v_etf3 = sum(a3) #Suma de los valores de las acciones

ETF3 =  v_etf3/19350000
print "El valor del ETF es de", ETF3

El valor del ETF es de 749.330762748

### Mes 4

In [340]:
mes4 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-4.csv', 
                   skiprows=10, delim_whitespace=False, thousands=',')
mes4=mes4.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes4=mes4.dropna(axis=0)
mes4

    Ticker  Weight (%)   Price     Shares
0       BA        9.83  197.75  1560548.0
1      UTX        8.77  122.11  2253148.0
2      LMT        7.57  277.61   855768.0
3       GD        6.81  198.10  1078745.0
4      RTN        6.26  161.48  1215785.0
5      NOC        6.12  256.71   747933.0
6      COL        3.76  105.08  1124051.0
7      LLL        3.33  167.08   624855.0
8      TDG        3.29  268.87   384426.0
9      TXT        3.24   47.10  2159578.0
10    ARNC        2.64   22.65  3656729.0
11     HII        2.64  186.16   444731.0
12     SPR        2.42   57.94  1311007.0
13      OA        2.16   98.36   687792.0
14     HXL        2.03   52.79  1206551.0
15    BWXT        2.01   48.75  1293627.0
16     TDY        1.93  127.65   474071.0
17      CW        1.85   91.78   632243.0
18    HEIA        1.53   62.05   774582.0
19     ESL        1.50   94.80   496412.0
20    KLXI        1.46   50.00   918429.0
21    ROLL        1.40  101.76   432924.0
22    MOGA        1.39   71.72   606837.0
23    MRCY        1.35   42.09  1003921.0
24     DGI        1.34   33.30  1263720.0
25     HEI        1.25   71.84   545567.0
26    AJRD        1.12   20.80  1692194.0
27     TGI        1.11   31.60  1102274.0
28    AAXN        1.07   25.14  1331758.0
29     CUB        0.98   46.30   665921.0
30    AOBC        0.98   22.16  1391275.0
31     AIR        0.96   34.76   866878.0
32    MANT        0.96   41.38   724475.0
33     RGR        0.93   62.15   467875.0
34    AVAV        0.90   38.20   737327.0
35    KTOS        0.89   11.87  2344951.0
36    WAIR        0.77   10.85  2233107.0
37    ATRO        0.74   30.47   760661.0
38     EGL        0.66   28.40   725470.0
39  BLKFDS        0.05    1.00  1524480.0
40     USD        0.01  100.00   435219.0

In [366]:
t4= mes4.iloc[:,0:1] #Tickers
peso4 = mes4.iloc[:,1] #Pesos 
precio4 = mes4.iloc[:,2] #Precio de la acción
s4 = mes4.iloc[:,3] #Número de share por acción
a4 = peso4*precio4*s4 # Valor de la acción por Ticker
v_etf4 = sum(a4) #Suma de los valores de las acciones

ETF4 = v_etf4/19950000
print "El valor del ETF es de", ETF4

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 735.2295738

### Mes 5

In [341]:
mes5 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-5.csv',
                   skiprows=10, delim_whitespace=False, thousands=',')
mes5=mes5.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes5=mes5.dropna(axis=0)
mes5

    Ticker  Weight (%)   Price     Shares
0       BA       11.50  242.46  1650501.0
1      UTX        8.12  118.57  2383029.0
2      LMT        7.60  292.13   905103.0
3       GD        6.44  196.33  1140937.0
4      RTN        6.35  171.77  1285866.0
5      NOC        5.98  263.13   791058.0
6      COL        3.64  106.53  1188842.0
7      LLL        3.32  174.97   660873.0
8      TDG        3.30  282.14   406575.0
9      TXT        3.23   49.13  2284054.0
10     HII        2.79  206.11   470376.0
11    ARNC        2.76   24.79  3867524.0
12     SPR        2.41   60.43  1386585.0
13      OA        2.14  102.18   727444.0
14    BWXT        2.07   52.68  1368193.0
15     TDY        1.97  136.34   501395.0
16     HXL        1.88   51.17  1276103.0
17      CW        1.85   96.42   668698.0
18    HEIA        1.67   71.05   819225.0
19     ESL        1.46   96.50   525024.0
20    KLXI        1.45   51.92   971375.0
21    MOGA        1.37   74.32   641820.0
22    ROLL        1.36  103.34   457879.0
23     DGI        1.34   34.90  1336561.0
24    MRCY        1.34   43.91  1061789.0
25     HEI        1.33   80.37   577008.0
26    AJRD        1.21   23.45  1789737.0
27    AAXN        1.00   24.59  1408532.0
28     AIR        0.99   37.40   916857.0
29     CUB        0.96   47.65   704308.0
30    MANT        0.87   39.72   766243.0
31    AOBC        0.87   20.67  1471476.0
32     TGI        0.86   25.60  1165823.0
33    AVAV        0.85   37.79   779831.0
34     RGR        0.82   57.60   494854.0
35    KTOS        0.78   11.01  2480122.0
36    WAIR        0.74   10.85  2361838.0
37    ATRO        0.68   29.25   804499.0
38     EGL        0.64   29.17   767284.0
39  BLKFDS        0.03    1.00  1087390.0
40     USD        0.03  100.00   997955.0

In [365]:
t5 = mes5.iloc[:,0:1] #Tickers
peso5 = mes5.iloc[:,1] #Pesos 
precio5 = mes5.iloc[:,2] #Precio de la acción
s5 = mes5.iloc[:,3] #Número de share por acción
a5 = peso5*precio5*s5 # Valor de la acción por Ticker
v_etf5 = sum(a5) #Suma de los valores de las acciones

ETF5 = v_etf5/21000000
print "El valor del ETF es de", ETF5

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 805.551657983

### Mes 6

In [342]:
mes6 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-6.csv',
                   skiprows=10, delim_whitespace=False, thousands=',')
mes6=mes6.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes6=mes6.dropna(axis=0)
mes6

    Ticker  Weight (%)   Price     Shares
0       BA       11.02  239.66  1846051.0
1      UTX        7.95  119.72  2665379.0
2      LMT        7.70  305.39  1012353.0
3      RTN        6.52  182.01  1438216.0
4       GD        6.40  201.35  1276137.0
5      NOC        6.00  272.21   884808.0
6      COL        4.34  131.05  1329692.0
7      LLL        3.34  181.48   739173.0
8      TXT        3.12   49.09  2554654.0
9      TDG        2.95  260.66   454725.0
10     SPR        2.88   74.50  1550885.0
11     HII        2.80  213.96   526126.0
12    ARNC        2.75   25.47  4325774.0
13      OA        2.26  111.58   813644.0
14     TDY        2.10  150.06   560795.0
15    BWXT        2.09   54.72  1530293.0
16     HXL        1.91   53.77  1427303.0
17      CW        1.80   96.82   747948.0
18    HEIA        1.66   72.65   916275.0
19    AJRD        1.48   29.63  2001787.0
20    MRCY        1.43   48.25  1187589.0
21    ROLL        1.41  110.27   512129.0
22     HEI        1.38   85.77   645358.0
23    MOGA        1.37   76.76   717870.0
24    KLXI        1.30   47.94  1086475.0
25     DGI        1.28   34.40  1494911.0
26     ESL        1.25   85.40   587224.0
27    AVAV        1.07   49.02   872231.0
28    KTOS        0.92   13.38  2773972.0
29     AIR        0.92   36.06  1025507.0
30    MANT        0.86   40.22   857043.0
31     TGI        0.85   26.30  1303973.0
32    AAXN        0.85   21.71  1575432.0
33     CUB        0.84   42.95   787758.0
34    AOBC        0.67   16.32  1645826.0
35     EGL        0.66   31.07   858184.0
36     RGR        0.63   45.80   553504.0
37    ATRO        0.59   26.29   899799.0
38    WAIR        0.55    8.40  2641688.0
39     USD        0.19  100.00  7634177.0
40  BLKFDS        0.07    1.00  2865566.0

In [364]:
t6 = mes6.iloc[:,0:1] #Tickers
peso6 = mes6.iloc[:,1] #Pesos 
precio6 = mes6.iloc[:,2] #Precio de la acción
s6 = mes6.iloc[:,3] #Número de share por acción
a6 = peso6*precio6*s6 # Valor de la acción por Ticker
v_etf6 = sum(a6) #Suma de los valores de las acciones

ETF6 = v_etf6/21000000
print "El valor del ETF es de", ETF6

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 927.63893195

### Mes 7

In [343]:
mes7 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-7.csv',
                   skiprows=10, delim_whitespace=False, thousands=',')
mes7=mes7.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes7=mes7.dropna(axis=0)
mes7

    Ticker  Weight (%)   Price     Shares
0       BA       10.14  254.21  1745134.0
1      UTX        7.87  116.08  2966161.0
2      LMT        7.37  310.29  1039522.0
3       GD        6.39  205.58  1360988.0
4      RTN        6.19  186.58  1452228.0
5      NOC        6.11  287.72   928428.0
6      COL        3.85  130.71  1288301.0
7      TXT        3.33   53.88  2703260.0
8      LLL        3.28  188.43   762000.0
9      TDG        2.98  255.65   509898.0
10     HII        2.79  226.44   539207.0
11    ARNC        2.64   24.88  4648762.0
12     SPR        2.61   77.72  1469478.0
13      OA        2.60  133.16   854626.0
14     TDY        2.08  159.18   570985.0
15    BWXT        2.04   56.02  1591148.0
16     HXL        2.01   57.42  1528134.0
17      CW        1.90  104.54   794983.0
18    HEIA        1.62   76.20   932681.0
19    ROLL        1.59  125.15   554660.0
20    AJRD        1.53   35.01  1917399.0
21    KLXI        1.48   52.93  1221529.0
22    MOGA        1.47   83.43   770801.0
23    MRCY        1.41   51.88  1185181.0
24     ESL        1.35   90.15   654606.0
25     HEI        1.34   89.81   651814.0
26     DGI        1.27   35.25  1574017.0
27     TGI        1.13   29.75  1655346.0
28     CUB        1.06   51.00   906964.0
29     AIR        0.98   37.78  1139451.0
30    AVAV        0.97   54.12   782274.0
31    AAXN        0.96   22.67  1853955.0
32    MANT        0.96   44.15   947760.0
33    KTOS        0.95   13.08  3193213.0
34     RGR        0.87   51.70   733025.0
35    AOBC        0.74   15.25  2127164.0
36    ATRO        0.73   29.75  1074171.0
37     EGL        0.72   34.68   910620.0
38    WAIR        0.68    9.40  3168616.0
39  BLKFDS        0.05    1.00  2282295.0
40     USD       -0.03  100.00 -1159187.0

In [363]:
t7 = mes7.iloc[:,0:1] #Tickers
peso7 = mes7.iloc[:,1] #Pesos 
precio7 = mes7.iloc[:,2] #Precio de la acción
s7 = mes7.iloc[:,3] #Número de share por acción
a7 = peso7*precio7*s7 # Valor de la acción por Ticker
v_etf7 = sum(a7) #Suma de los valores de las acciones

ETF7 =  v_etf7/23200000
print "El valor del ETF es de", ETF7

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 857.293355834

### Mes 8

In [344]:
mes8 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-8.csv',
                   skiprows=10, delim_whitespace=False, thousands=',')
mes8=mes8.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes8=mes8.dropna(axis=0)
mes8

    Ticker  Weight (%)   Price     Shares
0       BA       10.24  257.98  1807746.0
1      UTX        8.08  119.76  3072577.0
2      LMT        7.29  308.16  1076817.0
3       GD        6.28  202.98  1409815.0
4      NOC        6.24  295.53   961732.0
5      RTN        5.95  180.20  1504334.0
6      COL        3.97  135.60  1334517.0
7      LLL        3.24  187.18   789340.0
8      TXT        3.24   52.74  2800236.0
9      TDG        3.22  277.50   528186.0
10    ARNC        2.90   25.12  5255797.0
11     HII        2.86  232.83   558553.0
12     SPR        2.68   80.10  1522199.0
13      OA        2.58  132.93   885286.0
14     TDY        2.21  169.96   591475.0
15    BWXT        2.17   59.92  1648233.0
16      CW        2.14  118.25   823510.0
17     HXL        2.11   60.69  1582961.0
18    HEIA        1.61   76.10   966146.0
19    ROLL        1.56  123.82   574556.0
20    MOGA        1.54   87.76   798459.0
21    KLXI        1.52   54.86  1265360.0
22     ESL        1.41   94.85   678086.0
23    AJRD        1.38   31.58  1986186.0
24    MRCY        1.36   50.47  1227701.0
25     HEI        1.34   90.68   675201.0
26     TGI        1.17   31.05  1714743.0
27     CUB        1.13   54.55   939492.0
28     AIR        1.01   38.89  1180331.0
29    MANT        1.00   46.41   981759.0
30    AAXN        0.97   22.97  1920463.0
31    AVAV        0.91   51.16   810343.0
32    KTOS        0.87   12.04  3307754.0
33    ATRO        0.84   34.40  1112700.0
34     RGR        0.83   49.55   759327.0
35     EGL        0.70   33.67   943289.0
36    AOBC        0.69   14.33  2203468.0
37    WAIR        0.65    9.05  3282304.0
38  BLKFDS        0.07    1.00  3340433.0
39     USD        0.03  100.00  1192250.0

In [362]:
t8 = mes8.iloc[:,0:1] #Tickers
peso8 = mes8.iloc[:,1] #Pesos 
precio8 = mes8.iloc[:,2] #Precio de la acción
s8 = mes8.iloc[:,3] #Número de share por acción
a8 = peso8*precio8*s8 # Valor de la acción por Ticker
v_etf8 = sum(a8) #Suma de los valores de las acciones

ETF8 =  v_etf8/24650000
print "El valor del ETF es de", ETF8

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 850.949408173

### Mes 9

In [345]:
mes9 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-9.csv',
                   skiprows=10, delim_whitespace=False, thousands=',')
mes9=mes9.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes9=mes9.dropna(axis=0)
mes9

    Ticker  Weight (%)   Price     Shares
0       BA       10.67  276.80  1886506.0
1      UTX        7.96  121.45  3206425.0
2      LMT        7.33  319.12  1123721.0
3      NOC        6.30  307.40  1003620.0
4       GD        6.23  207.16  1471239.0
5      RTN        6.13  191.15  1569872.0
6      COL        3.76  132.31  1392663.0
7      LLL        3.34  198.59   823726.0
8      TXT        3.33   55.71  2922226.0
9      TDG        3.20  283.79   551198.0
10     HII        2.88  241.67   582885.0
11    ARNC        2.76   24.61  5484773.0
12     SPR        2.73   84.25  1588507.0
13      OA        2.49  131.94   923852.0
14     TDY        2.35  186.24   617237.0
15    BWXT        2.19   62.45  1720041.0
16      CW        2.18  124.20   859392.0
17     HXL        2.09   62.00  1651931.0
18    ROLL        1.63  133.45   599592.0
19    HEIA        1.56   75.90  1008232.0
20    KLXI        1.51   56.11  1320492.0
21    MOGA        1.43   84.11   833241.0
22    MRCY        1.37   52.19  1281183.0
23    AJRD        1.33   31.49  2072712.0
24     HEI        1.30   90.36   704615.0
25     CUB        1.24   61.95   980412.0
26     TGI        1.13   30.90  1789455.0
27    MANT        1.07   50.98  1024527.0
28     AIR        1.05   41.58  1231745.0
29     ESL        1.02   70.85   707632.0
30    AAXN        1.02   24.88  2004129.0
31    ATRO        0.98   41.49  1161166.0
32     RGR        0.89   54.75   792415.0
33    AVAV        0.79   45.58   845653.0
34    KTOS        0.74   10.43  3451854.0
35    AOBC        0.66   14.03  2299454.0
36     EGL        0.59   29.19   984385.0
37    WAIR        0.52    7.40  3425304.0
38     USD        0.16  100.00  8046064.0
39  BLKFDS        0.10    1.00  5007515.0

In [361]:
t9 = mes9.iloc[:,0:1] #Tickers
peso9 = mes9.iloc[:,1] #Pesos 
precio9 = mes9.iloc[:,2] #Precio de la acción
s9 = mes9.iloc[:,3] #Número de share por acción
a9 = peso9*precio9*s9 # Valor de la acción por Ticker
v_etf9 = sum(a9) #Suma de los valores de las acciones

ETF9 =  v_etf9/25250000
print "El valor del ETF es de", ETF9

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 913.235980114

### Mes 10

In [346]:
mes10 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-10.csv',
                    skiprows=10, delim_whitespace=False, thousands=',')
mes10=mes10.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes10=mes10.dropna(axis=0)
mes10

    Ticker  Weight (%)   Price     Shares
0       BA       10.86  294.91  1818068.0
1      UTX        8.24  127.57  3190353.0
2      LMT        7.50  321.05  1154158.0
3       GD        6.28  203.45  1525161.0
4      RTN        6.16  187.85  1618609.0
5      NOC        6.13  306.91   986786.0
6      COL        3.97  135.62  1445101.0
7      LLL        3.33  197.85   831263.0
8      TXT        3.32   56.59  2901751.0
9      TDG        3.07  274.62   551719.0
10    ARNC        3.04   27.25  5518503.0
11     HII        2.77  235.70   580449.0
12     SPR        2.74   87.25  1549523.0
13      OA        2.32  131.50   871721.0
14     TDY        2.15  181.15   586501.0
15    BWXT        2.06   60.49  1685457.0
16     HXL        2.02   61.85  1613762.0
17      CW        1.96  121.85   795712.0
18    KLXI        1.72   68.25  1244721.0
19    HEIA        1.68   79.05  1047854.0
20    ROLL        1.49  126.40   581090.0
21    MOGA        1.44   86.85   821394.0
22     HEI        1.38   94.35   722571.0
23    MRCY        1.34   51.35  1290414.0
24    AJRD        1.32   31.20  2094849.0
25     ESL        1.25   74.70   826555.0
26    AAXN        1.07   26.50  1996977.0
27     CUB        1.03   58.95   863570.0
28     TGI        1.01   27.20  1829691.0
29    MANT        0.98   50.19   959508.0
30    AVAV        0.96   56.16   840184.0
31     AIR        0.93   39.29  1170180.0
32     RGR        0.86   55.85   759910.0
33    KTOS        0.83   10.59  3892597.0
34    ATRO        0.80   41.47   949386.0
35    AOBC        0.68   12.84  2632243.0
36     EGL        0.62   28.37  1081705.0
37    WAIR        0.60    7.40  3979526.0
38  BLKFDS        0.10    1.00  4906827.0
39     USD       -0.03  100.00 -1255133.0

In [360]:
t10 = mes10.iloc[:,0:1] #Tickers
peso10 = mes10.iloc[:,1] #Pesos 
precio10 = mes10.iloc[:,2] #Precio de la acción
s10 = mes10.iloc[:,3] #Número de share por acción
a10 = peso10*precio10*s10 # Valor de la acción por Ticker
v_etf10 = sum(a10) #Suma de los valores de las acciones

ETF10 =  v_etf10/26300000
print "El valor del ETF es de", ETF10

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 896.453901499

### Mes 11

In [347]:
mes11 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-11.csv',
                    skiprows=10, delim_whitespace=False, thousands=',')
mes11=mes11.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes11=mes11.dropna(axis=0)
mes11

    Ticker  Weight (%)   Price     Shares
0       BA       12.09  354.37  1953125.0
1      UTX        8.26  138.01  3427356.0
2      LMT        7.68  354.85  1239880.0
3       GD        6.37  222.48  1638456.0
4      RTN        6.34  208.94  1738846.0
5      NOC        6.30  340.53  1060106.0
6      COL        3.76  138.49  1553070.0
7      LLL        3.31  212.46   893000.0
8      TDG        3.28  316.91   592708.0
9      TXT        3.19   58.67  3117304.0
10    ARNC        3.11   30.06  5928432.0
11     SPR        2.98  102.36  1664612.0
12     HII        2.59  237.54   623583.0
13      OA        2.16  131.90   936461.0
14     TDY        2.10  190.92   630064.0
15     HXL        2.07   68.35  1733648.0
16    BWXT        2.01   63.44  1810647.0
17      CW        1.95  130.66   854836.0
18    KLXI        1.65   70.66  1337190.0
19    HEIA        1.62   65.85  1407122.0
20    MOGA        1.39   90.06   882429.0
21    ROLL        1.37  126.00   624263.0
22     HEI        1.36   80.32   970293.0
23    MRCY        1.16   48.02  1386276.0
24     ESL        1.14   73.55   887941.0
25    AJRD        1.08   27.50  2250459.0
26     TGI        1.00   29.15  1965606.0
27    AAXN        0.99   26.46  2145333.0
28     CUB        0.94   58.05   927725.0
29    MANT        0.94   52.07  1030800.0
30     AIR        0.89   40.47  1257111.0
31    KTOS        0.83   11.41  4181743.0
32    AVAV        0.81   51.36   902584.0
33    ATRO        0.79   44.60  1019898.0
34     RGR        0.75   52.95   816343.0
35    AOBC        0.59   11.93  2827789.0
36    WAIR        0.53    7.15  4275146.0
37     EGL        0.53   26.16  1162045.0
38  BLKFDS        0.07    1.00  3766284.0
39     USD        0.02  100.00  1144398.0

In [359]:
t11 = mes11.iloc[:,0:1] #Tickers
peso11 = mes11.iloc[:,1] #Pesos 
precio11 = mes11.iloc[:,2] #Precio de la acción
s11 = mes11.iloc[:,3] #Número de share por acción
a11 = peso11*precio11*s11 # Valor de la acción por Ticker
v_etf11 = sum(a11) #Suma de los valores de las acciones

ETF11 =  v_etf11/26250000
print "El valor del ETF es de", ETF11

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 1110.7699682

### Mes 12

In [182]:
mes12 = pd.read_csv('https://raw.githubusercontent.com/Dianachav/Trading_Lab1/master/ITA_holdings-12.csv', skiprows=10, delim_whitespace=False)
mes12=mes12.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])
mes12=mes12.dropna(axis=0)
mes12

    Ticker  Weight (%)   Price        Shares
0       BA       12.39  362.21  2,004,541.00
1      UTX        8.10  134.74  3,524,327.00
2      LMT        7.66  352.44  1,273,168.00
3      RTN        6.63  217.51  1,785,958.00
4      NOC        6.50  350.04  1,088,821.00
5       GD        6.39  222.45  1,682,951.00
6      COL        3.75  137.72  1,596,622.00
7      TXT        3.29   59.85  3,225,093.00
8      LLL        3.25  207.55    918,741.00
9      TDG        3.00  288.31    609,882.00
10     HII        2.87  262.01    641,833.00
11     SPR        2.67   91.29  1,714,031.00
12    ARNC        2.26   24.39  5,423,031.00
13      OA        2.18  132.06    965,115.00
14     TDY        2.07  185.95    652,375.00
15     HXL        2.06   67.28  1,795,889.00
16      CW        2.05  134.98    889,915.00
17    BWXT        2.01   62.96  1,866,666.00
18    HEIA        1.80   72.50  1,452,240.00
19    KLXI        1.61   67.68  1,393,043.00
20     HEI        1.47   85.60  1,002,972.00
21    AAXN        1.34   34.83  2,262,522.00
22    ROLL        1.34  120.50    651,784.00
23    MOGA        1.32   83.83    924,518.00
24    MRCY        1.13   45.97  1,435,902.00
25     ESL        1.09   73.90    862,107.00
26    AJRD        1.08   27.00  2,352,837.00
27    MANT        1.04   56.37  1,079,962.00
28     CUB        1.02   61.40    970,930.00
29     AIR        0.97   42.58  1,330,626.00
30     TGI        0.90   27.95  1,896,971.00
31    KTOS        0.90   12.05  4,369,933.00
32    AVAV        0.80   49.72    938,415.00
33    ATRO        0.70   38.55  1,065,385.00
34    WAIR        0.65    8.95  4,283,366.00
35     RGR        0.63   43.05    859,600.00
36     EGL        0.54   27.31  1,160,585.00
37    AOBC        0.41    9.00  2,692,915.00
38  BLKFDS        0.07    1.00  3,884,836.00
39     USD        0.05  100.00  2,892,457.00

In [306]:
t12 = mes12.iloc[:,0:1] #Tickers
peso12 = mes12.iloc[:,1] #Pesos 
precio12 = mes12.iloc[:,2] #Precio de la acción
shares12 = mes12.iloc[:,3] # Número de shares
a12 = peso12*precio12 # Valor de la acción por Ticker
v_etf12 = sum(a12) #Suma de los valores de las acciones

ETF12 =  28200000/v_etf12
print "El valor del ETF es de", ETF12

#Para sacar el valor del ETF es v_etf entre el numero total de activos del etf

El valor del ETF es de 1476.16861608

## Rendimientos

In [384]:
## Rendimiento de los ETF
Ren1 = np.log(ETF1/ETF12)
Ren2 = np.log(ETF2/ETF12)
Ren3 = np.log(ETF3/ETF12)
Ren4 = np.log(ETF4/ETF12)
Ren5 = np.log(ETF5/ETF12)
Ren6 = np.log(ETF6/ETF12)
Ren7 = np.log(ETF7/ETF12)
Ren8 = np.log(ETF8/ETF12)
Ren9 = np.log(ETF9/ETF12)
Ren10 = np.log(ETF10/ETF12)
Ren11 = np.log(ETF11/ETF12)

#DataFrame
r = np.array([Ren1,Ren2,Ren3,Ren4,Ren5,Ren6,Ren7,Ren8,Ren9,Ren10,Ren11])
series = ["Serie 1", "Serie 2", "Serie 3", "Serie 4", "Serie 5", "Serie 6", "Serie 7",
          "Serie 8", "Serie 9", "Serie 10", "Serie 11"]
tabla = pd.DataFrame(index=series,columns=['Rend. Promedio %'])
tabla.index.name = "Series"
tabla['Rend. Promedio %'] = r
tabla

          Rend. Promedio %
Series
Serie 1          -0.782928
Serie 2          -0.713215
Serie 3          -0.678025
Serie 4          -0.697022
Serie 5          -0.605678
Serie 6          -0.464563
Serie 7          -0.543425
Serie 8          -0.550853
Serie 9          -0.480211
Serie 10         -0.498758
Serie 11         -0.284397

## Acciones de Quandl

In [7]:
quandl.ApiConfig.api_key = "1YRXno4c2f3x5e96L3Dx" # Quandl API key
fechas = list(['2017-04-28','2017-05-31','2017-06-30','2017-07-31','2017-08-31','2017-09-29','2017-10-31','2017-11-30','2017-12-29','2018-01-31','2018-02-28','2018-03-27'])

In [8]:
# Ejemplo quandl
import quandl

quandl.ApiConfig.api_key = "My9ygJsz7yTDx_9jcneH"

ticker = ['AAPL', 'MSFT','KO']
date = { 'gte': '2016-01-01', 'lte': '2016-12-31' }
column = { 'columns': ['ticker', 'date', 'Adj_close']}

data = quandl.get_table('WIKI/PRICES', qopts = column,ticker = ticker, date = date)# ticker = 'WIKI/AAPL' #'AAPL.US'
data = data.set_index('date') # Poner los índices como las fechas

# Seleccionar los ADJ_CLOSE de ticker
data_n = [data.loc[data['ticker']== i,'adj_close'] for i in ticker]
data_n

[date
 2016-12-30    114.389454
 2016-12-29    115.288214
 2016-12-28    115.317843
 2016-12-27    115.811668
 2016-12-23    115.080808
 2016-12-22    114.853649
 2016-12-21    115.614138
 2016-12-20    115.505497
 2016-12-19    115.199326
 2016-12-16    114.537601
 2016-12-15    114.389454
 2016-12-14    113.767235
 2016-12-13    113.767235
 2016-12-12    111.900579
 2016-12-09    112.542551
 2016-12-08    110.735154
 2016-12-07    109.658617
 2016-12-06    108.591957
 2016-12-05    107.762332
 2016-12-02    108.542574
 2016-12-01    108.137639
 2016-11-30    109.154917
 2016-11-29    110.083306
 2016-11-28    110.191947
 2016-11-25    110.409230
 2016-11-23    109.856147
 2016-11-22    110.419107
 2016-11-21    110.349971
 2016-11-18    108.700598
 2016-11-17    108.591957
                  ...
 2016-02-16     93.871214
 2016-02-12     91.297138
 2016-02-11     91.015446
 2016-02-10     91.569115
 2016-02-09     92.268487
 2016-02-08     92.287914
 2016-02-05     91.326278
 2016-02-04     93.832360
 2016-02-03     93.088425
 2016-02-02     91.281727
 2016-02-01     93.165717
 2016-01-29     94.044912
 2016-01-28     90.904929
 2016-01-27     90.257610
 2016-01-26     96.605206
 2016-01-25     96.073825
 2016-01-22     97.986799
 2016-01-21     93.040118
 2016-01-20     93.513531
 2016-01-19     93.387931
 2016-01-15     93.842021
 2016-01-14     96.151117
 2016-01-13     94.093220
 2016-01-12     96.576222
 2016-01-11     95.194629
 2016-01-08     93.677776
 2016-01-07     93.185040
 2016-01-06     97.291172
 2016-01-05     99.233131
 2016-01-04    101.783763
 Name: adj_close, Length: 252, dtype: float64, date
 2016-12-30    60.788710
 2016-12-29    61.532183
 2016-12-28    61.620226
 2016-12-27    61.903920
 2016-12-23    61.864790
 2016-12-22    62.168048
 2016-12-21    62.158266
 2016-12-20    62.158266
 2016-12-19    62.236526
 2016-12-16    60.945231
 2016-12-15    61.219142
 2016-12-14    61.316967
 2016-12-13    61.610443
 2016-12-12    60.818058
 2016-12-09    60.622407
 2016-12-08    59.683283
 2016-12-07    60.035454
 2016-12-06    58.646334
 2016-12-05    58.910462
 2016-12-02    57.961556
 2016-12-01    57.912643
 2016-11-30    58.949592
 2016-11-29    59.761543
 2016-11-28    59.291981
 2016-11-25    59.213721
 2016-11-23    59.086548
 2016-11-22    59.790891
 2016-11-21    59.536545
 2016-11-18    59.037635
 2016-11-17    59.321329
                 ...
 2016-02-16    48.991664
 2016-02-12    48.087056
 2016-02-11    47.315759
 2016-02-10    47.334803
 2016-02-09    46.925349
 2016-02-08    47.049138
 2016-02-05    47.763302
 2016-02-04    49.515385
 2016-02-03    49.667740
 2016-02-02    50.467604
 2016-02-01    52.095898
 2016-01-29    52.457741
 2016-01-28    49.567757
 2016-01-27    48.772654
 2016-01-26    49.677262
 2016-01-25    49.315419
 2016-01-22    49.791528
 2016-01-21    48.068012
 2016-01-20    48.363200
 2016-01-19    48.144190
 2016-01-15    48.553644
 2016-01-14    50.572348
 2016-01-13    49.172586
 2016-01-12    50.258116
 2016-01-11    49.801050
 2016-01-08    49.829617
 2016-01-07    49.677262
 2016-01-06    51.467434
 2016-01-05    52.419653
 2016-01-04    52.181598
 Name: adj_close, Length: 252, dtype: float64, date
 2016-12-30    40.438769
 2016-12-29    40.575321
 2016-12-28    40.370493
 2016-12-27    40.585074
 2016-12-23    40.575321
 2016-12-22    40.526552
 2016-12-21    40.546060
 2016-12-20    40.633843
 2016-12-19    40.643596
 2016-12-16    40.711872
 2016-12-15    40.526552
 2016-12-14    40.194927
 2016-12-13    40.731380
 2016-12-12    40.867931
 2016-12-09    40.965468
 2016-12-08    39.970592
 2016-12-07    40.272957
 2016-12-06    39.570691
 2016-12-05    39.619460
 2016-12-02    39.365864
 2016-12-01    39.180544
 2016-11-30    39.356110
 2016-11-29    40.136405
 2016-11-28    40.378191
 2016-11-25    40.165419
 2016-11-23    39.768891
 2016-11-22    40.010676
 2016-11-21    40.001005
 2016-11-18    39.565791
 2016-11-17    39.768891
                 ...
 2016-02-16    40.953732
 2016-02-12    40.717606
 2016-02-11    40.056452
 2016-02-10    40.188683
 2016-02-09    40.897062
 2016-02-08    40.283133
 2016-02-05    40.084787
 2016-02-04    40.169793
 2016-02-03    40.349249
 2016-02-02    40.084787
 2016-02-01    40.613710
 2016-01-29    40.538150
 2016-01-28    40.207573
 2016-01-27    39.754211
 2016-01-26    39.744766
 2016-01-25    39.820326
 2016-01-22    39.725876
 2016-01-21    39.093057
 2016-01-20    39.083612
 2016-01-19    39.593645
 2016-01-15    39.196953
 2016-01-14    39.555865
 2016-01-13    39.527530
 2016-01-12    39.782546
 2016-01-11    39.272513
 2016-01-08    39.206398
 2016-01-07    39.310293
 2016-01-06    39.971447
 2016-01-05    40.188683
 2016-01-04    40.047007
 Name: adj_close, Length: 252, dtype: float64]